html {
    scroll-behavior: smooth;
}

#paragraphe1,
#paragraphe2,
#paragraphe3 {
    width: 600px;
    border: solid 3px;
    margin-left: 250px;
    padding: 10px;
    margin-bottom: 500px;
    /* Ajout d'une marge pour permettre le scroll */
}

h2 {
    text-align: center;
}

ul {
    position: fixed;
}

ul li:first-child a {
    color: red;
    text-decoration: none;
}

ul li:nth-child(2) a {
    color: aqua;
    text-decoration: none;
}

ul li:nth-child(3) a {
    color: green;
    text-decoration: none;
}

#paragraphe1 h2 {
    color: red;
}

#paragraphe2 h2 {
    color: aqua;
}

#paragraphe3 h2 {
    color: green;
}

#paragraphe1 {
    border-color: red;
}

#paragraphe2 {
    border-color: aqua;
}

#paragraphe3 {
    border-color: green;
}

#retourEnHaut {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}