body{
    margin: 0;
}
header{
    background-color: rgb(202, 30, 54);
    height: 150px;
    display: flex;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.gauche{
    
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    line-height: 5px;
    justify-content: center;
}
.droite{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2px;
    font-size: 20px;
    width: 100%;
}
.droite1{
    border: dashed 2px; 
    padding: 20px;
    width: 95%;
    border-radius: 5px;
    margin: 9px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.droite2{
    border: dashed 2px; 
    padding: 20px;
    width: 200px;
    border-radius: 5px; 
    margin: 9px;
    padding-top: 25px;
    padding-bottom: 25px;
}
table{
    border-collapse: collapse;
    width: calc(100% - 20px);
    margin: 10px;
}
td{
    border: solid 1px;
}
th{
    border: solid 1px;
}