body {
    background-color: #cccccc;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #444;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    width: 45%;
}

li {
    border-bottom: 2px solid black;
    padding: 15px 0;
}

a {
    color: #8b0000;
    display: flex;
    align-items: center;
    padding-left: 100px;
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: 40px;

}

a::before {
    content: attr(href);
}

a::after {
    content: " (    ) ";
    white-space: pre;
    width: auto;
    background-size: 16px 11px;
    background-position: center 3px;
    background-repeat: no-repeat;
}

a[hreflang="fr"]::after {
    background-image: url('/TP4/TP4-Exercice2/icones/fr.jpg');
}

a[hreflang="en"]::after {
    background-image: url('/TP4/TP4-Exercice2/icones/en.jpg');
}

a[href$=".pdf"] {
    background-image: url('/TP4/TP4-Exercice2/icones/pdf.png');
}

a[href$=".doc"] {
    background-image: url('/TP4/TP4-Exercice2/icones/doc.png');
}

a[href$=".xls"] {
    background-image: url('/TP4/TP4-Exercice2/icones/xls.png');
}

a[href$=".png"] {
    background-image: url('/TP4/TP4-Exercice2/icones/png.png');
}

a[href$=".rtf"] {
    background-image: url('/TP4/TP4-Exercice2/icones/rtf.png');
}

a[href$=".zip"] {
    background-image: url('/TP4/TP4-Exercice2/icones/zip.png');
}

a[href$=".svg"] {
    background-image: url('/TP4/TP4-Exercice2/icones/svg.png');
}

a[href$=".ods"] {
    background-image: url('/TP4/TP4-Exercice2/icones/ods.png');
}

a[href$=".ppt"] {
    background-image: url('/TP4/TP4-Exercice2/icones/ppt.png');
}