body {
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    transition: background-color 0.1s ease-out;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1.2rem;
}