body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.contenu {
    width: 30%; /* Pour laisser de la place à l'hélice visuellement */
    line-height: 1.6;
    font-size: 12px;
}

#helice {
    /* Position fixe demandée par l'exercice */
    position: fixed;
    top: 50px;
    right: 50px;
    width: 300px; /* Ajustez la taille selon vos besoins */
    
    /* Définition de l'animation CSS */
    animation-name: rotationHelice;
    animation-duration: 0.4s; /* Vitesse de rotation */
    animation-timing-function: linear; /* Vitesse constante */
    animation-iteration-count: infinite; /* Tourne indéfiniment */

}

/* Création des étapes de l'animation (rotation de 0 à 360 degrés) */
@keyframes rotationHelice {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}