body {

  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}


#scroll {
  overflow: scroll;
  height: 500px;
  width: 600px;
  float: left;
}

#scroll p {
  height: auto;
  width: 400px;
}

#helice {
  position: fixed;
  right: 300px;
  width: 600px;
  height: 600px;
}

#helice img {
  width: 50%;
  right: 300px;
  height: 50%;
  transform-origin: center;
  transition: transform 0.1s linear;
}

h1 {
  text-align: center;
}