.scene {
    position: relative;
    width: 1000px;
    height: 700px;
}

.image-fond {
    width: 100%;
    height: 100%;
}

.rideau {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%; 
    background-color: rgb(55, 0, 255);
    transition: transform 1s; 
}

.rideau-gauche {
    left: 0;
    transform-origin: left; 
}

.rideau-droit {
    right: 0;
    transform-origin: right;
}

.scene:hover .rideau {
    transform: scaleX(0); 
}