.bloc {
    width: 300px;
    height: 200px;
    background-color: aqua;
}
@media screen and (max-width: 960px) {
    .bloc{
        background-color: green;
    }
  }
  @media screen and (max-width: 480px) {
    .bloc{
        background-color: yellow;
    }
  }