body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #f0f0f0;
    padding-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: #333;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sticky {
    position: fixed;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav li,
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
    color: #fff;
}

p {
    padding: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}