html,body {
        height:100%;
        margin:0;
    }
    
    h1 {
      align-items: center;
      justify-content: center;
    }


    #loader img {
      width: 150px;
      height: 150px;
      animation: rotation 5s linear infinite;
    }

    @keyframes rotation {
      from { transform: rotate(0deg); }
      to   { transform: rotate(360deg); }
    }