body {
    text-align: center;
    font-family: sans-serif;
    margin-top: 50px;
}

.interface {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button {
    padding: 20px 20px;
    font-size: 16px;
    background-color: orange; /* Couleur inspirée de la capture page 8 */
    border: none;
    cursor: pointer;
    margin-top: 500px;
}

#monImage {
    width: 600px;
    
    /* Définition de la transition sur la propriété transform */
    transition: transform 1s linear;
    
    /* On garde l'origine au centre pour que la déformation se fasse depuis le milieu */
    transform-origin: center;
}
